<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" http-equiv="X-UA-Compatiable" content="IE=9;IE=8;IE=7;IE=EDGE">
    <!--<meta charset="UTF-8" >-->
    <title>Customer list</title>
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.js"></script>
    <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
</head>
<body>
<div class="navbar">
    <div class="navbar-inner">
        <a class="brand" href="#">POC API Client Demo</a>
    </div>
</div>
<div id="overview">
  <table class="table table-striped">
    <tr>
      <td>Customer</td><td>Options</td>
    </tr>
    <!--ko foreach: custs-->
    <tr>
      <td><b data-bind="text:name"></b>
        <p data-bind="text:email"></p>
      </td>
        <td><button data-bind="click: $root.edit"> edit </button></td>
        <!--<td><button data-bind="click: refetch"> refetch Row </button></td>-->
    </tr>
    <!-- /ko -->
  </table>
</div>
<div id="list" data-bind="with: custitem ">
  <table class="table table-striped">
    <tr>
      <td>Customer</td><td>Options</td>
    </tr>
      <tbody data-bind="foreach:{data:custlist , as :'p'}">
        <tr>
          <td>
              <b data-bind="text:p.address"></b>
            <p data-bind="text:p.phone"></p>
          </td>
            <td>

              <b data-bind="text:custaction"></b>

          </td>
         </tr>
      </tbody>
      <tr><td><button id="id-addButton" data-bind="click: $root.addRow"> Add Row </button></td>
        <td><button id="id-delButton" data-bind="click: $root.delAll"> Del All </button></td></tr>

  </table>
</div>
<script>
function CustsViewModel() {
    var self = this

    self.custURI = 'http://localhost:5000/api/v1.0/get_cust_detail/'

    self.custs = ko.observableArray()

    self.ajax = function (uri, method, data) {
            var request = {
                url: uri,
                type: method,
                contentType: "application/json",
                accepts: "application/json",
                cache: false,
                dataType: 'json',
                data: JSON.stringify(data),
                timeout: 30000,
                crossOrigin: true,
                headers: {"x-li-format": "json", "X-UserName": "POC"},
                success: function (data) {
                    // can log something
                },

                error: function (jqXHR, textStatus, errorThrown) {
                    console.log("ajax error " + jqXHR.status)
                    alert("ajax call failure " + textStatus)
                }
            }
            return $.ajax(request)
        }

    self.ajax(self.custURI, 'GET').done(function (data) {

    console.log(data)

    for (var dj in data['customer']) {
                console.log(data['customer'][dj])
                //console.log('username '+data[0])
                k_name = data['customer'][dj].name
                k_email = data['customer'][dj].email

                console.log('name ' + k_name)
                console.log('email ' + k_email)
                self.custs.push({
                    name: ko.observable(k_name),
                    email: ko.observable(k_email)
                })

        }

        {#for (var i = 0; i < data.tasks.length; i++) {
                self.tasks.push({
                    uri: ko.observable(data.tasks[i].uri),
                    title: ko.observable(data.tasks[i].title),
                    description: ko.observable(data.tasks[i].description),
                    done: ko.observable(data.tasks[i].done)
                });
            }#}
    })

    self.edit = function(){
        console.log("click edit")
        console.log(ko.toJSON({cust:self.custs }))
        //constructor

        //要清除 之前留下的DOM对象的变更，例如 table里面新增的tr行
        $('#id-delButton').trigger('click');
        $('#id-addButton').trigger('click');
        var custsListModel=new CustsListModel()

        //binding view (html) to the model
        ko.applyBindings(custsListModel, $('#list')[0])
    }

  }


function  CustsListModel() {
    var self = this

    console.log("in CustsListModel")
    console.log(ko.toJSON({custlist:self.custlist }))
    self.custitem = ko.observable()
    self.custlist = ko.observableArray()
    self.custaction = ko.observable("a")


    self.custlist.push({
        address:"china-GZ,tianhe road",
        phone:"17792840"
    })

    self.custitem({custlist:self.custlist,custaction:self.custaction})
    console.log(ko.toJSON({custlist:self.custlist }))
     console.log(ko.toJSON({custaction:self.custaction }))
    self.addRow=function(){
            self.custlist.push({
            address:"china-GZ,tianhe road",
            phone:"17792840"
        })

    }
    self.delAll=function(){
            self.custlist.removeAll()
        console.log("in CustsListModel deleteAll")
    console.log(ko.toJSON({custlist:self.custlist }))
    }

}
//constructor
var custsViewModel = new CustsViewModel()

//binding view (html) to the model
ko.applyBindings(custsViewModel, $('#overview')[0])
</script>

</body>
</html>
